body {
  text-align: center;
}

select {
  background-color: black;
  border-radius: 6px;
  border-style: none;
  color: yellow;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  margin-top: 20px;
}

button {
  background-color: black;
  border-radius: 6px;
  border-style: none;
  color: yellow;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  margin-top: 20px;
}